<div class="hero-unit">
  <h1>About The Author</h1>
  <p>I'm a graduate student, rock climbing and hiking enthusiast, and most recently a budding web developer. I am very eager to learn everything I can about web design and development. Currently, I am taking several courses with <a href="http://gotealeaf.com/" target="_blank" alt="Tealeaf Academy">Tealeaf Academy</a>, an online, intensive, bootcamp style, coding school. It has been a great learning experience so far! I am amazed at how far and fast I've come from knowing nearly nothing about web development when I started.</p>

  <p> If you are interested in the code behind this game or some of the other projects I am working on, both for Tealeaf Academy and independently you can head over to my <a href="https://github.com/flygeneticist" target="_blank" alt="GitHub: Flygeneticst">GitHub account</a>. Thanks for taking the time to check out this web app!</p>
</div>
