<div id="bust_alert" class="alert alert-error">
  <h2>You have busted for the last time!</h2>
</div>
<div class="text-center hero-unit">
  <h1>Game Over!</h1>
  <h2>You've run out of money!<h2>
</div>
