<div class='hero-unit'>
  <h1 class="text-center">Experience Blackjack Like You Never Have Before!</h1>
  <p>Boasting many cutting edge features such as:</p>
  <ul>
    <li>Casino-style of play</li>
    <li>Smart AI dealers</li>
    <li>Realistic graphics</li>
  </ul>
    You'll swear you were sitting right in a real live casino!</p>
  <p>
    <a href="#nameModal" role="button" class="btn btn-primary btn-large" data-toggle="modal">Let's Get Started!</a>
  </p>
</div>

<!-- name_modal -->
<div id="nameModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="nameModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="nameModalLabel">Game Settings</h3>
  </div>
  <div class="modal-body">
    <form name="gamesettings" method="post" action="/">
    <div id="table-limits">
      <h5>Minimum table bid: </h5>
      <div id="min-limit" class="input-prepend">
        <span class="add-on">$</span>
        <select class="input-small" id="input-prepend" name="minbid" onChange="">
          <option>1</option>
          <option>5</option>
          <option>10</option>
          <option>25</option>
          <option>100</option>
        </select>
      </div>
      <br>
      <h5>Maximum table bid: </h5>
      <div id="max-limit" class="input-prepend">
        <span class="add-on">$</span>
        <select class="input-small" id="input-prepend" name="maxbid" onChange="">
          <option>100</option>
          <option>250</option>
          <option>500</option>
          <option>1000</option>
        </select>
      </div>
      <br>
    </div>
      <h5>Starting bankroll:</h5>
      <div id="starting-bankroll" class="input-prepend">
        <span class="add-on">$</span>
        <select class="input-small" id="input-prepend" name="bankroll" onChange="">
          <option>1000</option>
          <option>5000</option>
          <option>10000</option>
          <option>50000</option>
        </select>
      </div>
      <br>
      <h5>Player Names / Initial Wager: </h5>
      <div id="extender">
        Player 1 <input class="input-small" type="text" name="player" placeholder="Name">
        <div id="wager-input" class="input-append input-prepend">
          <span class="add-on">$</span>
          <input class="input-small" id="input-append input-prepend" type="text" name="wager" placeholder="100">
          <span class="add-on">.00</span>
        </div>
        <a id="add" href="#">Add</a> / <a id="remove" href="#">Delete</a>
        <p>*(Add/Delete Not Working Yet!)</p>
      </div>
      <p id="start_button" class="text-center">
      <button type='submit' class="btn btn-large btn-danger">START!</button>
    </p>
    </form>
  </div>
</div>
