<div class='hero-unit'>
  <h1 class="text-center">Experience Blackjack Like You Never Have Before!</h1>
  <div id='home_picture' class="text-center">
    <img src="/images/blackjack_home.jpg" alt="blackjack picture" height="400" width="600">
  </div>
  <h3>Boasting many cutting edge features such as:</h3>
  <ul>
    <li><h4>Casino-style of play</h4></li>
    <li><h4>Smart AI dealers</h4></li>
    <li><h4>Realistic graphics</h4></li>
  </ul>
  <br>
  <div class="text-center">
    <h3>You'll swear you were sitting right in a <em>real, live</em> casino!</h3>
    <a href="#nameModal" role="button" class="btn btn-primary btn-large" data-toggle="modal">Let's Get Started!</a>
  </div>
</div>

<!-- name_modal -->
<div id="nameModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="nameModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="nameModalLabel">Game Settings</h3>
  </div>
  <div class="modal-body">
    <form id="gamesettings" name="gamesettings" method="post" action="/">
      <div id="player-name">
        <h6>Player Name:</h6>
        Player 1 <input class="input-small" type="text" name="player" placeholder="Name"><br>
        <a id="add" href="#">Add</a> / <a id="remove" href="#">Remove</a>
        <p>*(Add/Delete Not Working Yet!)</p>
      </div>
      <div id="table-limits">
        <div id="min-limit" class="input-prepend">
          <h6>Minimum table bid: </h6>
          <span class="add-on">$</span>
          <select class="input-small" id="input-prepend" name="minbid" autofocus>
            <option>1</option>
            <option>5</option>
            <option>10</option>
            <option>25</option>
            <option>100</option>
          </select>
        </div>
        <div id="max-limit" class="input-prepend">
          <h6>Maximum table bid: </h6>
          <span class="add-on">$</span>
          <select class="input-small" id="input-prepend" name="maxbid">
            <option>100</option>
            <option>250</option>
            <option>500</option>
            <option>1000</option>
          </select>
        </div>
      </div>
      <br>
      <div id="starting-bankroll" class="input-prepend">
        <h6>Starting bankroll:</h6>
        <span class="add-on">$</span>
        <select class="input-small" id="input-prepend" name="bankroll">
          <option>500</option>
          <option>1000</option>
          <option>5000</option>
          <option>10000</option>
        </select>
      </div>
      <div id="wager-input" class="input-append input-prepend">
        <h6>Initial Wager</h6>
        <span class="add-on">$</span>
        <input class="input-small" id="input-append input-prepend" type="text" name="wager">
      </div>
      <span id="start_button">
        <div style="margin: 20px 0px 0px 190px;">
          <button type='submit' class="btn btn-large btn-danger">START!</button>
        </div>
      </span>
    </form>
  </div>
</div>
