<div class="hero-unit">
  <div id='content'>
    <h1>Rules of Blackjack</h1>
    <dl id='rules_list'>
      <dt><h3>The Objective</h3></dt>
      <dd>
        <p>The object of Blackjack is very simple: to achieve a total that is greater than that of the dealer, and which does not exceed 21. Even if other players are present at the table, the dealer is your <em>only</em> opponent in the game.</p>

        <p>There are relatively few decisions to make when playing Blackjack. You must consider your cards and your dealer's card and remember, if you go over 21, you "bust", and if you "bust" you lose.<p>
      </dd>

      <dt><h3>The Gameplay</h3></dt>
      <dd>
        <ol>
          <li>A card is dealt, face up, to each player in turn and then one to the dealer. The dealer's card is face down and called the "hole" card.</li>
          <li>A second card is then dealt, again face up, to each player.</li>
          <li>Starting from the player to the left of the dealer, each player decides whether to draw further cards.</li>
          <li>After all players have completed their hands, the Dealer proceeds to draw cards to complete the Dealer's hand.</li>
        </ol>
      </dd>

      <dt><h3>You win when...</h3></dt>
      <dd>
        <ul>
          <li>Your total is higher than the Dealer's total</li>
          <li>The Dealer goes over 21 or "busts" (provided you have not previously busted </li>yourself).
          <li>If your total is the same as the Dealer's total it is a "stand-off" and you </li>neither win nor lose.
          <li>If you go over 21, or the Dealer's total is greater, you lose.</li>
        </ul>
      </dd>

      <dt><h3>What are the card values?</h3></dt>
      <dd>
        <p>Cards in Blackjack are assigned the following point valies:</p>
        <ul>
          <li>Jack, Queen and King each count as 10 points.</li>
          <li>An Ace counts as either 1 point or 11 points.</li>
          <li>All other cards have their numerical face value.</li>
          <li>Jokers are not used when playing Blackjack. (More on Card Values)</li>
        </ul>
      </dd>

      <dt><h3>What is a Blackjack?</h3></dt>
      <dd>
        <p>Blackjack is a combination of an Ace and any 10 or picture card with your first two cards. It pays one and a half times your bet unless the dealer also draws Blackjack, in which case you have a "stand-off".</p>
      </dd>

      <dt><h3>The Dealer's Rules</h3></dt>
      <dd>
        <p>The dealer plays according to a strict set of rules. Dealers must take another card if their hand totals 16 or less. Dealers must stand (not take any more cards) if their hand totals 17 or more.</p>
      </dd>
    </dl>
  </div>
</div>
<footer>Source: <a href="http://www.blackjack-primer.com/basic_rules.php‎">Blackjack-Primer.com - Basic Rules</footer>
