input {
  padding:5px;
  border:1px solid #999;
  border-radius:4px;
  -moz-border-radius:4px;
  -web-kit-border-radius:4px;
}
dl {
  display: block;
}

dt {
  color: #268bd2;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0 1em 0;
  padding: 0 0 0 25px;
  line-height: 16px;
}

dd {
  margin: 0 0 1em 0;
  padding: 0 0 0 50px;
}

dt:hover {
  color: #2aa198;
  background-position: 0 -32px;
}

form#gamesettings div {
  display: inline-block;
  width: 200px;
}

#player-name {
  margin: 0px 75px 0px 25px;
}

#starting-bankroll {
  margin: 0px 75px 0px 25px;
}

#home_picture {
  margin: 10px 0px 10px 0px;
}

form#hit_form{
  float: left;
  margin-right: 25px;
}

form#stay_form{
float: left;
}

form#newround_form{
  float: left;
  margin-right: 25px;
}

form#restart_form{
float: left;
}

h1 {
  padding-bottom: 10px;
}

div.hero-unit{
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

div#bust_alert{
  padding-bottom: 40px;
  margin-bottom: 20px;
}

div#score_alert{
  padding-bottom: 40px;
  margin-bottom: 20px;
}

div#score_alert h2{
  padding-bottom: 5px;
}

div#dealer_hand{
  background-color: #D3D3D3;
  padding: 0px 0px 10px 10px;
  margin-bottom: 20px;
}

div#player_hand{
  background-color: #D3D3D3;
  padding: 0px 0px 10px 10px;
  margin-bottom: 20px;
}

.hero-unit {
padding: 50px;
}
